<div class="container">
    <form class="addList" (submit)="createList()">
        <input type="text" [(ngModel)]="createdlist.list" name="list" placeholder="Add List">
    </form>

    <div *ngIf="lists.length">
        <div class="lists" *ngFor="let list of lists let i = index">
            <div class="left" (click)="showReminders(list.id)">
                <form (submit)="editList(list.id, listContent.value)">
                    <input type="text" value={{list.list}} #listContent>
                </form>
            </div>
            <button class="right" (click)="deleteList(list.id, i)" class="btn btn-outline-danger">delete</button>
        </div>
        <app-details></app-details>
    </div>
</div>
